
/*.photobanner{
	height: 300px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 80px;
	border: 10px solid lightgray;
	padding-top: 5px;
	box-shadow: 0 5px 5px gray;
}

.photobanner img{
	width: 300px;
	height: 270px;
}

.first{
	animation: bannermove 10s linear infinite;
}

@-webkit-keyframes "bannermove"{
	0%{
		margin-left: 0px;
	}
	100%{
		margin-left: -910px;
	}
}*/

.carousel{
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	border: 5px solid lightgray;
	box-shadow: 0 5px 5px gray;
}

.carousel ul{
	width: 3500px;
}

.carousel ul li{
	width: 1140px;
	text-align: center;
	height: 320px;
	list-style: none;
	float: left;
}

.carousel ul li img{
	width: 100%;
}

.text-content{
    text-align: justify;
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
}

#content-header{
	text-align: center;
	font-size: 30px;
	width: 100%;
	margin-bottom: 20px;
	font-family: 'Pacifico', cursive;
}

#profile-img{
	width: 200px;
	height: 200px;
	border: 5px solid lightgray;
}

.content-holder{
	margin: 0 auto;
	width: 90%;
}

.center-img{
	text-align: center;
	margin-bottom: 20px;
}

.section{
	width: 90%;
	margin: 0 auto;
}

.section:after{
	content: "";
	display: block;
	clear: both;
}

@media (max-width: 320px){
    #cakeImage{
    	width: 150px;
    	height: 175px;
    }

}

@media (min-width: 1000px){
    
    .text-content{
	    margin: 0;
	    width: 100%
	}

	#content-header{
		width: 100%;
		font-size: 50px;
		font-family: 'Pacifico', cursive;
	}

	.content-holder{
		width: 50%;
		float: left;
	}
    
}

