/*	CONTENTS

	(1) CAROUSEL
	(2) HOME PAGE CONTENT
	(3) MEDIA QUERIES

*/



/*(1)*/
/*----------------------------------*/
/*-------------CAROUSEL-------------*/
/*----------------------------------*/
.carousel{
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	border: 5px solid lightgray;
	box-shadow: 0 5px 5px gray;
}

.carousel ul{
	width: 3500px;
}

.carousel ul li{
	width: 1140px;
	text-align: center;
	height: 320px;
	list-style: none;
	float: left;
}

.carousel ul li img{
	width: 100%;
}
/*----------------------------------*/
/*-------------CAROUSEL-------------*/
/*----------------------------------*/



/*(2)*/
/*----------------------------------*/
/*---------HOME PAGE CONTENT--------*/
/*----------------------------------*/
.section{
	width: 90%;
	margin: 0 auto;
}

.section:after{
	content: "";
	display: block;
	clear: both;
}

.content-holder{
	margin: 0 auto;
	width: 90%;
}

.center-img{
	text-align: center;
	margin-bottom: 20px;
}

#profile-img{
	width: 200px;
	height: 200px;
	border: 5px solid lightgray;
}

.text-content{
    text-align: justify;
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
}
/*----------------------------------*/
/*---------HOME PAGE CONTENT--------*/
/*----------------------------------*/



/*(3)*/
/*----------------------------------*/
/*-----------MEDIA QUERIES----------*/
/*----------------------------------*/
@media (max-width: 320px){
    
    #cakeImage{
    	width: 150px;
    	height: 175px;
    }

}

@media (min-width: 1000px){
    .content-holder{
		width: 50%;
		float: left;
	}

	 .text-content{
	    margin: 0;
	    width: 100%
	}
    
}
/*----------------------------------*/
/*-----------MEDIA QUERIES----------*/
/*----------------------------------*/
