


.text-content{
    text-align: justify;
}

#cakeImage{
    float: left;
    width: 200px;
    height: 250px;
}

@media (max-width: 320px){
    #cakeImage{
    	width: 150px;
    	height: 175px;
    }
}

