/*  CONTENTS

    (1) HTML DOCUMENT SET UP
    (2) HEADER
    (3) HEADER NAVIGATION
    (4) MAIN CONTENT
    (5) FOOTER
    (6) FOOTER NAVIGATION
    (7) MEDIA QUERIES

*/



/*(1)*/
/*----------------------------------*/
/*-------HTML DOCUMENT SET UP-------*/
/*----------------------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
}

html,
body{
    height: 100%;
}

body{
    padding-top: 150px;
}

h1{
    line-height: 150px;
}

h1, a, #content-header{
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}

h3{
    margin: 20px 10px;
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: lightgray;
}
/*----------------------------------*/
/*-------HTML DOCUMENT SET UP-------*/
/*----------------------------------*/



/*(2)*/
/*----------------------------------*/
/*--------------HEADER--------------*/
/*----------------------------------*/
header{
    background-color: rgba(65, 167, 216, 1);
    color: white;
    height: 200px;
    text-align: center;
    z-index: -1;
}
/*----------------------------------*/
/*--------------HEADER--------------*/
/*----------------------------------*/



/*(3)*/
/*----------------------------------*/
/*--------HEADER NAVIGATION---------*/
/*----------------------------------*/
.headerNav{
    background-color: rgb(233,233,233);
    height: 40px;
    position: relative;
    z-index: 150;
    margin-bottom: -40px;
    box-shadow: 0 5px 5px gray;
 }
 
.headerNav > ul > li{
    text-align: center;
}

.headerNav > ul > li > a{
    display: block;
    width: 200px;
    height: 40px;
    text-decoration: none;
    color: rgb(65, 167, 216);
    line-height: 40px;
    margin: 0 auto;
}

.header-nav-scrolled, 
header{
    position: fixed;
    top: 0;
    width: 100%;
}

.toggle-menu{
    display: block;
    float: right;
    text-decoration: none;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: rgb(65, 167, 216);
}

.toggle-menu:hover{
    background-color: rgb(65, 167, 216);
    color: white;
}

#back-btn{
    width: 100px;
    text-align: center;
}

.slide-in-menu ul{
    display: none;
}

.slide-in-menu ul{
    height: 100%;
    width: 320px;
    position: fixed;
    background-color: rgb(233,233,233);
    top: 0px;
    right: 0px;
    z-index: 160;
}

.slide-in-menu ul li{
    clear: both;
    list-style-type: none;
    text-align: right;
}

.slide-in-menu ul li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color:  rgb(65, 167, 216);
    background-color: rgba(188, 187, 187, 0.2);
}

.slide-in-menu ul li a:active,
.slide-in-menu ul li a:focus{
    background-color: rgb(65, 167, 216);
    color: white;
}

.slide-in-menu ul li a.selected{
    background-color: rgba(65, 167, 216, 1);  
    color: white;
}

.desktop-nav-menu{
        display: none;
}
/*----------------------------------*/
/*--------HEADER NAVIGATION---------*/
/*----------------------------------*/



/*(4)*/
/*----------------------------------*/
/*----------MAIN CONTENT------------*/
/*----------------------------------*/
.main{
    position: relative;
    background-color: white;
    height: auto;
    padding: 40px 10px 0;
}

.content-container{
    min-height: 820px;
    margin: 50px auto 0;
}

#content-header{
    text-align: center;
    font-size: 40px;
    width: 100%;
    margin-bottom: 20px;
}
/*----------------------------------*/
/*----------MAIN CONTENT------------*/
/*----------------------------------*/



/*(5)*/
/*----------------------------------*/
/*--------------FOOTER--------------*/
/*----------------------------------*/
footer{
    position: relative;
    background-color: rgb(233,233,233);
    height: auto;
    width: 100%;
    text-align: center;
    z-index: 150;
}

.copyright{
    padding: 30px 0;
    clear: both;
}
/*----------------------------------*/
/*--------------FOOTER--------------*/
/*----------------------------------*/



/*(6)*/
/*----------------------------------*/
/*---------FOOTER NAVIGATION--------*/
/*----------------------------------*/
.footer-content-container{
    margin: 0 auto;
    padding: 20px;
}

.footer-link-container{
    width: 80%;
    height: 180px;
    margin: 0 auto;
}

.footer-nav ul,
.social-links ul{
    float: left;
    width: 50%;
    padding-left: 10px;
}

.social-links ul{
    border-right: 3px solid lightgray;
    border-left: 3px solid lightgray;
}

.footer-nav ul{
    border-right: 3px solid lightgray;
}

.footer-nav ul li,
.social-links ul li{
    margin: 5px 0;
    list-style: none;
}

.footer-nav ul li a,
.social-links ul li a{
    display: block;
    width: 125px;
    text-decoration: none;
    color: black;
    padding: 5px;
    text-align: left;
}

.social-links ul li a img{
    float: left;
    margin-right: 10px;
}
/*----------------------------------*/
/*---------FOOTER NAVIGATION--------*/
/*----------------------------------*/
  


/*(7)*/
/*----------------------------------*/
/*-----------MEDIA QUERIES----------*/
/*----------------------------------*/
@media (min-width: 700px){
    .slide-in-menu ul{
        width: 370px;
    }

    .footer-content-container,
    .content-container{
        width: 80%;
    }

    .footer-nav ul,
    .social-links ul{
        float: left;
        width: 50%;
        padding-left: 10px;
    }

    .footer-link-container{
        width: 80%;
    }
    
}


@media (min-width: 1000px){
    #content-header{
        width: 100%;
        font-size: 50px;
    }

    .footer-content-container,
    .content-container{
        width: 70%;
    }

    .desktop-nav-menu{
        display: block;
        text-align: center;
    }

    .desktop-nav-menu li{
        display: inline-block;
    }

    .desktop-nav-menu li a:hover{
        background-color: rgb(65, 167, 216);
        color: white;
    }

    .desktop-nav-menu li a.selected{
        background-color: rgb(65, 167, 216);
        color: white;
    }

    .toggle-menu{
        display: none;
    }
    
}

@media (min-width: 1400px){
    
    .footer-content-container,
    .content-container{
        width: 60%;
    }
    
}    
/*----------------------------------*/
/*-----------MEDIA QUERIES----------*/
/*----------------------------------*/